<footer>
  <h3 class="text-textHome text-3xl font-bold text-center pt-5">¡Contactame!</h3>
  <section class="grid grid-cols-3 text-center p-5 max-md:grid-cols-1 max-md:gap-5">
    <article>
      <h1 class="text-textHome text-2xl font-bold">Paula Andrea Sanchez Torres</h1>
      <h2 class="text-textHome text-lg">Transformando tus ideas en experiencias significativas.</h2>
    </article>
    <article>
      <h3 class="text-textHome text-lg">{{email}}</h3>
      <h3 class="text-textHome text-lg">{{phone}}</h3>
    </article>
    <div class="grid grid-cols-3 place-content-center items-center justify-items-center gap-3 px-36 max-md:px-0">
      <button type="button" class=" hover:drop-shadow-header">
        <a target="_blank" href="https://www.linkedin.com/in/paula-andrea-sanchez-torres/"><img class="w-9"
            src="/svg/linkedin.svg" alt=""></a>
      </button>
      <button type="button" class=" hover:drop-shadow-header">
        <a target="_blank" href="https://github.com/PauSanchezzz">
          <img class="w-8" src="/svg/github.svg" alt="">
        </a>
      </button>
      <button type="button" class=" hover:drop-shadow-header">
        <a target="_blank"
          href="https://wa.me/573058816447?text=¡Hola,%20estoy%20interesado/a%20en%20tu%20trabajo!"><img class="w-8"
            src="/svg/whatsapp.svg" alt=""></a>
      </button>
    </div>
  </section>
  <span class=" text-center">
    <hr class="text-textHome mx-5 max-md:mx-8">
    <p class="text-textHome py-3">&copy; 2024 Paula Sanchez. Todos los derechos reservados.</p>
  </span>
</footer>
