<!-- <article
  [ngClass]="['flex', 'bg-' + colorBackground, 'hover:' + colorHover, 'text-white', 'text-xs', 'font-medium', 'me-2', 'px-2.5', 'py-1', 'rounded-full', 'gap-1', 'w-' + widthCard, 'place-items-center']">
  <img [ngClass]="['w-' + widthImage]" [src]="imgTechnology" alt="">
  {{title}}
</article> -->
<article
  [ngClass]="['flex', background, hover ,' text-white', 'text-xs', 'font-medium', 'me-2', 'px-3', 'py-1', 'rounded-full', 'gap-1', 'place-items-center']">
  <img class="w-6 h-6" [src]="imgTechnology" alt="">
  {{title}}
</article>
